body{
    font-family: sans-serif;
    background-color: aquamarine;
    margin: 0px;
    border: 0px;
}
    
a{
    text-decoration: none;
}
a:link{
    color: brown;
}
a:visited{
    color: blue
}
a:hover{
    color: green;
    font-weight:  bold;
    text-decoration: underline;
}
a:active {
    background-color: black;
    color: white;
}
body{
    .rounded-border{
    border-radius: 30px;
    margin: 30px;
    }
}
a:hover img{
border: 16px solid chartreuse;
margin: 22px;
}